%div.modal{tabindex: -1, id: "articleCalendarModal", style: "display: none;"}
  .modal-header
    %button.close{ data: { dismiss: "modal" } } &times;
    %h3#article_title ...
  .modal-body
    %h6.weak#tag_list ...
    %div#excerpt ...
  .modal-footer
    %section.inline.published_at
    %section.inline.updated_at
