.row-fluid
  = form_tag nil, method: :get, class: 'form-search' do
    .control-group
    .controls
      = text_field_tag :query, params[:query], placeholder: placeholder, class: 'input-large search-query'
      = submit_tag t(".search"), class: 'btn btn-success'
