- flash.each do |key, message|
  - key = :error if key == :alert
  - key = :success if key == :notice
  %div{:class => "alert alert-#{key}"}
    %button.close{:data => {:dismiss => "alert"}} &times;
    = message